* {
    box-sizing: border-box;
}

body {
    width: 480px;
    margin: auto;
}

div {
    border: 1px solid black;
}

@media(min-width: 768px) {
    body {
        width: 960px;
        margin: auto;
    }
}